VITE_WS_URL=wss://your-api-id.execute-api.your-region.amazonaws.com/production
VITE_COGNITO_CLIENT_ID=your-cognito-app-client-id
VITE_COGNITO_USER_POOL_ID=your-region_xxxxxxxxx
VITE_COGNITO_REGION=your-region
